* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	/* Gradient from logo */
	background: #f67501;
	background: linear-gradient(180deg, #ffd675 0%, #f67501 100%);
}

.center {
	margin: 1rem;
	min-height: calc(100vh - 2rem);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

main {
	max-width: 42rem;
	padding: 1rem;
	background: white;
	border-radius: 0.5rem;
	line-height: 1.5rem;
}

.space-lg {
	margin-top: 1.5rem;
}

.space-sm {
	margin-top: 0.5rem;
}

.logo {
	display: block;
	max-width: 50%;
	margin: 0 auto;
}

.icon {
	height: 1.25rem;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 0.1rem;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.3rem;
}

.item {
	display: inline-block;
	margin: 0.2rem 0.25rem;
}
